html * {
    font-family: monospace;
    color: white;
}

body {
    background-color: #300A24;
    font-size: 9.5pt;
}

.remarkup-table {
    -webkit-filter: invert(100%);
}

.remarkup-table tbody tr td {
    color: black;
}

svg {
    -webkit-filter: invert(100%);
}

#sve {
    margin-left: auto;
    margin-right: auto;
    width: 104em;
}

.header {
    border: 1px solid;
    border-color: #99FF00;
    padding: 1em;
    position: relative;
}

.naslov {
    font-size: 35px;
    color: #99FF00;
    font-weight: bold; 
}

.coded_by {
    position: absolute;
    top: 1.8em;
    right: 1.1em;
    font-size: 8pt;
}

.meta {
    font-size: 25px;
    font-style: italic;
    margin: 1em;
}

.izbornik {
    width: 15em;
    float: left;
    padding-top: 1em;
}

.siroki_div {
    position: relative;
    float: left;
    width: 65em;
}

.sadrzaj {
    display: block;
    overflow: hidden;
    padding: 1em;
}

.nedavno {
    width: 20em;
    float: left;
    margin-left: 1em;
}

.nedavno li {
    margin-top: 1.4em;
}


.trazi {
    margin-left: 4em;
}

input {
    color: #300A24;
    display: block;
}

#id_username {
    width: 10em;
    margin-left: 2px;
}

#id_password {
    width: 10em;
    margin-left: 2px;
}

button {
    color: #300A24;
}

.navig {
    margin-bottom: 2em;
}

.prijavljeni_ste {
    padding: 1em;
    font-size: 11pt;
}

select {
    background: transparent;
}

option {
    color: black;
    background-color: white;
}

h2 {
    color: #99FF00;
}

h3 {
    color: #99FF00;
}

.korisnicko_ime {
    color: #99FF00;
}

#obiljezja {
    display: none;
}

.uvuci {
    margin: 1em;
}

#komentari {
    margin-top: 1.5em;
}

#id_comment {
    background: transparent;
    height: 100px;
    width: 550px;
}

#id_submit {
    width: 10em;
    margin-bottom: 2em;
}

.komentar {
    margin: 1em;
    margin-bottom: 2em;
}

.skriven {
    display: none;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    margin: 0 0 6px 0;
}

ul li:before {
    color: #99FF00;
    content: "\24";
    margin: .5em;
    font-weight: bold; 
}

.ui-autocomplete li:before {
    height: 0px;
    width: 0px;
    content: "";
    margin: 0px;
}

#order_izbor {
    margin-top: 2em;
}

.legenda {
    font-style: italic;
}

#zadatak_form {
    margin-top: 1em;
}

.tablica_zadataka {
    margin-top: 1em;
    border-collapse: separate;
    border-spacing: 5px 5px;
}

.tablica_zadataka tr td {
    text-align: center;
}

.dolar {
    color: #99FF00;
    font-weight: bold; 
}

.pipe {
    color: #99FF00;
}

.info {
    color: #99FF00;
    text-decoration: none;
    margin-bottom: 1em;
}

.dodan {
    margin-top: 2em;
    margin-bottom: 2em;
}

.obiljezje {
    text-decoration: none;
}

.paginacija {
    margin-top: 1em;
}

.stupac_oznaka {
    width: 150px;
}

.stupac_polja_profila {
    width: 100px;
}

.ako_vec_imas {
    margin-bottom: 2em;
    margin-top: 2em;
}

.zadatak_tablica {
    margin-top: -1em;
    margin-left: -15px;
    border-collapse: separate;
    border-spacing: 15px 1em;
}

li a {
    text-decoration: none;
}

.markup-container li a {
    color: #99FF00;
}

.na_pocetnu {
    font-weight: bold;
}

.dio_profila {
    min-height: 10em;
    width: 49em;
}

.osnovna_obiljezja {
    margin-top: 1em;
    width: 65em;
    overflow: hidden;
}

.osnovna_obiljezja ul {
    margin-bottom: 2em;
}

.osnovna_obiljezja .stupac {
    float: left;
    width: 25%;
}

.polovina {
    float: left;
    width: 50%;
}

.sto_je_dora {
    float: left;
    width: 45%;
    margin-top: 3px;
}

#profilna_slika {
    max-width: 13em;
    max-height: 13em;
    position: absolute;
    top: 2em;
    right: 2em;
}

.profilni_zadaci {
    padding: 1em;
    float: left;
    width: 30%;
    border: 1px solid;
}

.checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.na_listu {
    padding: 2px;
    border: 1px solid;
    border-color: #99FF00;
}

.sire_dugme {
    width: 8em;
}

.upute li {
    width: 600px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.link {
    text-decoration: underline;
}

.desno {
    float: right;
}

.na_listi_najdrazih {
    vertical-align: 5px;
}

.lista {
    margin: 1em;
}

.wide label {
    color: #99FF00;
}

.errors {
    text-decoration: none;
    color: red;
    font-weight: normal;
}

.errors ul li {
    color: red;
}

.nemas_racun {
    margin-top: 2em;
}

.profil_polje input[type=file], input[type=checkbox] {
    color: white;
    display: inline;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.upute .info {
    font-weight: bold;
}

.dodaj_dugme {
    margin-left: 2px;
    display: inline;
}


#djangoForumBody {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

#djangoForumList,
#djangoForumThreadList,
#djangoForumThreadPosts {
    border-collapse: collapse;
    width: 100%;
}

#djangoForumThreadPosts {
    margin-top: 2em;
    margin-bottom: 2em;
}

#djangoForumList td,
#djangoForumThreadList td,
#djangoForumThreadPosts td {
    border: solid #777 1px;
    padding: 6px;
}

#djangoForumList .djangoForumListDetails {
}

#djangoForumList .djangoForumListDetails strong {
    font-size: 120%;
}

#djangoForumList .djangoForumListDetails .djangoForumStats {
    font-size: 80%;
}

.djangoForumListLastPost,
.djangoForumThreadLastPost {
    border-bottom: solid #777 1px;
}

#djangoForumList th,
#djangoForumThreadList th,
#djangoForumThreadPosts th {
    border: solid #777 1px;
    color: #fff;
    text-align: left;
    padding: 4px;
}

#djangoForumThreadPosts th {
    width: 23%;
}

#djangoForumBreadcrumbs {
    padding: 20px;
}

#djangoForumBody label {
    font-size: 110%;
    font-weight: bold;
    display: block;
    padding: 4px;
}

#djangoForumThreadPostDetail {
    width: 20%;
}
.djangoForumPagination {
    display: inline;
}

.forum_poruka_pogleda {
    width: 70px;
}
.forum_najnovija {
    width: 400px;
}

.forum_poruka_label {
    margin-top: 5px;
    padding: 2px;
}

.forum_poruka_vrijeme {
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
    font-weight: normal;
}

#id_title {
    background: transparent;
    color: white;
    width: 30em;
    margin-left: 3px;
}
#id_body {
    background: transparent;
}

.podforum {
    margin-bottom: 2em;
}

.natrag {
    margin-top: 30px;
}

.forum_stranice {
    text-align: center; 
}

.zadnja_tema {
    margin-top: 3px;
}

/**
 * @provides remarkup
 */

.markup-container {
  line-height: 1.45em;
  color: white;
}

.markup-container p {
  margin: 0 0 1em;
}

.markup-container p:last-child {
  margin-bottom: 0;
}

.markup-container .remarkup-code-block {
  margin: 1em 2em;
  white-space: pre;
  font-size: 10px;
}

.markup-container .remarkup-code-header {
  padding: .25em 1em;
  background: #edead7;
  color: #444444;
}

.markup-container .remarkup-code-block pre {
  background: black;
  display: block;
  overflow: auto;
  padding: .5em 1em;
}

.markup-container pre.remarkup-counterexample {
  border: 1px solid #aa0000;
  background-color: #ffaaaa;
}

.markup-container tt {
  background: black;
  padding: 0 .25em;
  white-space: pre-wrap;
}

/* NOTE: You can currently produce this with [[link | `name`]]. Restore the
   link color. */
.markup-container a tt {
  color: #18559d;
}

.markup-container ul {
  margin: 1em 0 1em 3em;
}

.markup-container ol {
  list-style: decimal;
  margin: 1em 0 1em 3em;
}

.markup-container ul ol,
.markup-container ul ul,
.markup-container ol ol,
.markup-container ol ul {
  margin: .25em 0 .25em 2em;
}

.markup-container li.phantom-item,
.markup-container li.phantom-item {
  list-style-type: none;
}

.markup-container h1:first-child,
.markup-container h2:first-child,
.markup-container h3:first-child,
.markup-container h4:first-child,
.markup-container h5:first-child,
.markup-container h6:first-child {
  margin-top: 0;
}

.markup-container h1:last-child,
.markup-container h2:last-child,
.markup-container h3:last-child,
.markup-container h4:last-child,
.markup-container h5:last-child,
.markup-container h6:last-child {
  margin-bottom: 0;
}

.markup-container h1 {
  font-size: 1.625em;
  line-height: 1.625em;
  margin: .8em 0;
}

.markup-container h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: .75em 0;
}

.markup-container h3 {
  font-size: 1.375em;
  line-height: 1.375em;
  margin: .69em 0;
}

.markup-container h4 {
  font-size: 1.25em;
  line-height: 1.25em;
  margin: .63em 0;
}

.markup-container h5 {
  font-size: 1.125em;
  line-height: 1.125em;
  margin: .56em 0;
}

.markup-container h6 {
  font-size: 1em;
  line-height: 1em;
  margin: .5em 0;
}

.markup-container blockquote {
  border-left: 1px solid #AAAAAA;
  color:       #333333;
  font-style:  italic;
  margin:      .5em 0em;
  padding:     .25em 1em;
}

.markup-container img.remarkup-proxy-image {
  max-width: 640px;
  max-height: 640px;
}

.markup-container-mention-exists {
  font-weight: bold;
  background: #e6f3ff;
}

.markup-container-mention-disabled {
  font-weight: bold;
  background: #dddddd;
}

.aphront-panel-preview .markup-container-mention-unknown {
  font-weight: bold;
  background: #ffaaaa;
}

.markup-container .remarkup-note {
  margin: 1em 1.5em;
  padding: 0.5em 1em;
  border: 1px solid #ddddff;
  background: #f3f3ff;
}

.markup-container-toc {
  float: right;
  border: 1px solid #999999;
  background: #f9f9f9;
  padding: 4px 12px;
  width: 220px;
}

.markup-container-toc-header {
  font-size: 11px;
  color: #444444;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 4px;
}

.markup-container-toc ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  padding-left: 0.25em;
}

.markup-container-toc ul ul {
  margin-left: 1.25em;
}

.markup-container-toc ul li {
  padding: 0;
  margin: 0;
}

.markup-container-embed-layout-right {
  text-align: right;
}

.markup-container-embed-layout-center {
  text-align: center;
}

.markup-container-embed-layout-inline {
  display: inline;
}

.markup-container-embed-float-right {
  float: right;
  margin: .5em 1em 0;
}

.markup-container-embed-layout-link {
  padding-left: 20px;
  background: url(/rsrc/image/icon/fatcow/page_white_put.png) 0 0 no-repeat;
}

.markup-container-embed-float-left {
  float: left;
  margin: .5em 1em 0;
}

.markup-container-embed-image {
  display: inline-block;
  border: 3px solid white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.20);
}

.markup-container table.remarkup-table {
  border-collapse:  separate;
  border-spacing:   1px;
  background:       #d3d3d3;
  margin:           1em;
}

.markup-container table.remarkup-table th {
  font-weight: bold;
  padding: 3px 6px;
  background: #e3e3e3;
}

.markup-container table.remarkup-table td {
  background: #ffffff;
  padding: 3px 6px;
}


.remarkup-assist-textarea {
  border-width: 1px;
  border-color: #e5e5e5 #999999 #999999;

  /* Prevent Safari and Chrome users from dragging the textarea any wider,
     because the top bar won't resize along with it. */
  resize: vertical;
}

.remarkup-assist-bar {
  height: 27px;
  padding: 0 2px;

  border-width: 1px 1px 0;
  border-style: solid;
  border-color: #737373 #999999;

  background: #f5f5f5;
  overflow: hidden;
}

.remarkup-assist-button {
  display: block;
  padding: 3px;
  margin: 2px 1px;
  float: left;

  border: 1px solid transparent;
  border-radius: 2px;
}

.remarkup-assist-button:hover {
  background: #f7f7f7;
  border-color: #c6c6c6;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
}

.remarkup-assist-button:active {
  outline: none;
  background: #f3f3f3;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.10);
}

.remarkup-assist-button:focus {
  outline: none;
}

.remarkup-assist-separator {
  display: block;
  float: left;

  margin: 7px 4px;
  height: 14px;

  width: 0px;
  border-right: 1px solid #cccccc;
}

.remarkup-assist {
  display: block;
  width: 14px;
  height: 14px;
  overflow: hidden;
}

.remarkup-assist-right {
  float: right;
}

.phabricator-image-macro-hero {
  margin: auto;
  max-width: 95%;
}
