{% extends "base.html" %}

{% block title %}Uredi profil{% endblock title %}

{% block content %}

{% if tek_aktiviran %}
<h3>Bravo! Registracija je uspjela.</h3>
{% endif %}

<h3><span>Uredi profil</span> [{{user}}]</h3>
<form id="profil_form" method="post" action="/uredi_profil/" enctype="multipart/form-data">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <table>
        <col class="stupac_polja_profila">
        <col class="stupac_inputa">
        <col class="stupac_errora">
        {% for field in form.visible_fields %}
        <tr>
            <td class="info">{{ field.label }}</td>
            <td class='profil_polje'>{{ field }}</td>
            <td>{{ field.errors }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>
            </td>
            <td>
                <input class='sire_dugme' type="submit" name="submit" value="Spremi"/>
            </td>
        </tr>
    </table>
</form>
{% endblock content %}
