zadaci/templates/googleb1fb5ec8a1253530.html
settings/local.py
backup
media/
local/
/static/

forum/.svn
forum/build/
forum/dist/django_forum-r53-py2.7.egg

zadaci/templates/tutorijali/.git.html

*.ropeproject/*
.ropeproject/
*.pyc
*.bak
*~
*.swp
*.svn-base

Thumbs.db
