{% extends 'base.html' %}
{% block title %}Dinamika{% endblock title %}
{% block content %}
    <div class="markup-container"><!--h0--><h2><a name="dinamicko_programiranje"></a>Dinamičko programiranje</h2>



<!--h1--><h3><a name="pocetnicke_teme"></a>Početničke teme</h3>



<ul>
<li><a href="/tutorijali/dinamika_uvod" class="markup-link">Uvod u dinamičko programiranje</a> - Fibonaccijevi brojevi</li>
<li><a href="/tutorijali/bomboni" class="markup-link">Bomboni</a> - Dinamika na tablici</li>
<li><a href="/tutorijali/najduzi_rastuci_podniz" class="markup-link">Najduži rastući podniz</a> - Stanje s dva podatka.</li>
<li><a href="/tutorijali/cokolada" class="markup-link">Čokolada</a> - Dvodimenzionalna dinamika</li>
<li><a href="/tutorijali/edit_distance" class="markup-link">Edit udaljenost</a> - poravnavanje nizova znakova</li>
</ul>

    </div>
{% endblock content %}