{% extends 'base.html' %}
{% block title %}Trokut{% endblock title %}
{% block content %}
    <div class="markup-container"><!--h0--><h2><a name="trokut"></a>Trokut</h2>

<p>Ovaj graf se zove trokut.</p>

<div style="text-align: center;">sh: 1: dot: not found
</div>




    <div style="padding-top: 5px; margin-top: 50px;
      border-top: 1px #ccc solid;text-align:right;margin-left:auto;">
      &copy;&nbsp;<span style="border:0">2013 Anton Grbin</span>
      <a
        rel="license"
        style="display:block;"
        href="http://creativecommons.org/licenses/by-sa/3.0/hr/deed.en_US"
      >
        <img
          alt="Creative Commons License"
          style="margin-left: auto; margin-top: 10px; margin-bottom: 10px;"
          src="/static/cc_88x31.png"
          width="88px" height="31px"/>
      </a>
      <p>
        Ovaj članak objavljen je pod<br/>
        <a
          rel="license"
          href="http://creativecommons.org/licenses/by-sa/3.0/hr/deed.en_US"
        >
          Creative Commons Attribution-ShareAlike 3.0 Croatia License
        </a>
      </p>
    </div>
    

    </div>
{% endblock content %}